amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.3
certifi==2026.6.17
charset-normalizer==3.4.8
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
crispy-bootstrap5==2026.3
Django==6.0.5
django-countries==9.0.0
django-crispy-forms==2.6
django-forms-workflows==0.76.0
django-guardian==3.3.2
django-localflavor==5.0
django-nested-admin==4.1.6
django-treebeard==5.3.0
idna==3.18
kombu==5.6.2
packaging==26.2
prompt_toolkit==3.0.52
python-dateutil==2.9.0.post0
python-decouple==3.8
python-monkey-business==1.1.0
python-stdnum==2.2
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.2
tzlocal==5.4.4
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
